In [1]:
city = 'Phoenix'
print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [2]:
school = "include %d teachers and %s , %s %.2f hour" % (2, "students", "monday", 3)
print(school)

include 2 teachers and students , monday 3.00 hour

In [3]:
sentence = "I am practising"
print ("%.10s" % sentence)

I am pract

In [4]:
print("One %(day)s will be %(place)s for %(hour).2f" % {'day': 'monday', 'place' : 'Xvadia', 'hour' : 5})

One monday will be Xvadia for 5.00

In [5]:
vagetable = 'carrot'
fruit = 'orange'
amount = '2 kg'
print('when you go bazaar don\'t forget buy {} {} and {}' .format(amount, vagetable, fruit))

when you go bazaar don't forget buy 2 kg carrot and orange

In [1]:
toy = 'lorry'
store = 'Chiky'
output =f'I bought {toy} in {store}'
print(output)

I bought lorry in Chiky

In [7]:
text = 'KafacÄ±oglan Ahmet'
print(text.startswith('Kaf'))
print(text.endswith('Ahmet'))

True
True

In [11]:
my_email = 'antikakurubal@gmail.com'
print(my_email.startswith('@', 13))
print(my_email.endswith('@', 11))  # I don't understand

True
False

In [12]:
sentence = 'Today weather was so rainy'
print(sentence, "1")
print(sentence.upper(), "2")
print(sentence.lower(), "3")
print(sentence.swapcase(), "4")
print(sentence.title(), "5")
print(sentence.capitalize(), "6")
print(sentence.replace('rainy', 'hot'), "7")
print(sentence.strip(), "8") # Remove all spaces from left and right
print(sentence.rstrip('ny'), "9")
print(sentence.lstrip('To'), "10")
print(sentence.strip('Ty'), "11")

Today weather was so rainy 1
TODAY WEATHER WAS SO RAINY 2
today weather was so rainy 3
tODAY WEATHER WAS SO RAINY 4
Today Weather Was So Rainy 5
Today weather was so rainy 6
Today weather was so hot 7
Today weather was so rainy 8
Today weather was so rai 9
day weather was so rainy 10
oday weather was so rain 11

In [10]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com will open your path.

In [11]:
print("clarusway" + str(2020))

clarusway2020

In [12]:
number = 32
print(number + 1988)

2020

In [13]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [14]:
print(not None or 15)

True

In [13]:
print(15 or not None)

15

In [14]:
print(not None)

True

In [15]:
print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))

I will find a job.

In [16]:
section_3_5 = "python data types and useful operations"
print(section_3_5.title())

Python Data Types And Useful Operations

In [15]:
print({0})

{0}

In [17]:
print({0} and False or [])

[]

In [1]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
sentence =f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

In [2]:
city = "SARAJEVO"
text = f"I live in {city.capitalize()}."
print(text)

I live in Sarajevo.

In [6]:
year = int(input("Enter a year : "))
result = (year % 400 == 0) or (not year % 100 == 0 and year % 4 == 0)
print("Leap year :", result)

Leap year : False

In [1]:
mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]
print(mixed_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

In [2]:
warning = 'You must quit smoking!'
print(len(list(warning)))

22

In [3]:
empty_list = []
empty_list.append('horos')
empty_list.append('chicken')
empty_list.append('bird')
print(empty_list)

['horos', 'chicken', 'bird']

In [4]:
country = ['Turkey', 'England', 'Italy']
country.append('USA')
print(country)

['Turkey', 'England', 'Italy', 'USA']

In [5]:
country = ['Turkey', 'England', 'Italy']
country.insert(1, 'USA')
print(country)

['Turkey', 'USA', 'England', 'Italy']

In [6]:
country = ['Turkey', 'England', 'Italy']
country.insert(2, 'USA')
print(country)

['Turkey', 'England', 'USA', 'Italy']

In [7]:
country = ['Turkey', 'England', 'USA', 'Italy']
country.remove('USA')
print(country)

['Turkey', 'England', 'Italy']

In [8]:
country = ['Turkey', 'England', 'USA', 'Italy']
country.sort()
print(country)

['England', 'Italy', 'Turkey', 'USA']

In [9]:
country = ['Turkey', 'England', 'USA', 'Italy']
print(len(country))

4

In [10]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [11]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]
print(odd_numbers[6])

27

In [17]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list.insert(0, fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado'], ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [12]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [15]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

In [16]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [17]:
print(len([[12, 34, 56]]))

1

In [18]:
print(len([[12, 34, 56]][0]))

3

In [19]:
print([[12, 34, 56]][0])

[12, 34, 56]

In [6]:
print(2**3**3)

134217728

In [1]:
country = list()
country.append('Turkey')
country.append('Russia')
country.insert(1, 'Ukrania')
print(country)

['Turkey', 'Ukrania', 'Russia']

In [1]:
mix_value = (10, False, 'fruit', 1.618) # tuple
mix_value.append(['vegetable', 2+3j])
print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
my_list = list(range(1, 11))
my_list.sort(reverse=True)
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [32]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [39]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1], escapes[1])
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [1]:
planets = 'mercury', 'jupiter', 'saturn'
print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [3]:
print(set('listen to the voice of enlisted'))
print(len(set('listen to the voice of enlisted')))

{'o', 'n', 'c', 't', 'f', 'i', ' ', 'h', 's', 'l', 'v', 'e', 'd'}
13

In [4]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [5]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [2]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
my_tuple = tuple(family_members)
print(my_tuple)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [4]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict['is_bad'] = False

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [5]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

dict_by_dict.update({'is_bad': False})

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}

In [2]:
# Assignment-007/1 (The Most Frequent Element)
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
numbers.sort()
a = numbers[0] == numbers[1]
print(a)
print(numbers)

False
[0, 1, 3, 3, 3, 3, 4, 6, 7]

In [2]:
# Assignment-007/1 (The Most Frequent Element)_2
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
b_1 = max(set(numbers), key = numbers.count)
b_2 = numbers.count(b_1)
print("The most frequent number is", b_1, "and it was", b_2, "times repeated")

The most frequent number is 3 and it was 4 times repeated

In [1]:
print('{:,}'.format(1112223334))

1,112,223,334

In [3]:
# Attention Example a[1] don't change
a = [10, 23, 56, [78]]
b = list(a)
a[1] = 34
a[3][0] = 95
print(b)

[10, 23, 56, [95]]

In [12]:
words = ['circumtances', 'in all', 'generosity', 'wins']
print(words)
phrase = '{0}{2} {0}{3} {0}{1} {0}{0}'.format(*words)
print(phrase)

['circumtances', 'in all', 'generosity', 'wins']
circumtancesgenerosity circumtanceswins circumtancesin all circumtancescircumtances

In [16]:
# Write File Extention
filename = input("Enter the Filename :")
print("File extention is : ", filename.split(".")[-1])
print(filename.split("."))

File extention is :  jpeg
['xyz', 'jpeg']

In [18]:
# Adding Character Between Word
text = input("Write a string : ")
print(text[:int(len(text)/2)] + "-" + text[int(len(text)/2):])

pyt-hon

In [19]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(list(city_list[0][2]))

['I', 's', 't', 'a', 'n', 'b', 'u', 'l']

In [4]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [3]:
a_1 = [0, 2, 3, 2]
a_1.remove(3)
print(a_1)

[0, 2, 2]

In [4]:
a_2 = [9, 8, 7, 6]
del a_2[1]
print(a_2)

[9, 7, 6]

In [5]:
a_3 = [4, 3, 5]
a_3.pop(1)
print(a_3)

[4, 5]

In [6]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [3]:
number = 23
if number >= 10:
    print("The number is equal or greater than 10")
else :
    print("The number is less than 10")

The number is equal or greater than 10

In [10]:
audience_group = 'kid', 'teen', 'adult'

audience = "adult"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else : # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

normal price

In [15]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Your degree: below B

In [5]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1>0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [9]:
iterable = [1, 2, 3, 4]
for i in iterable :
    print(i**2)

1
4
9
16

In [10]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

I love you
I love you
I love you

In [11]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

9x0 =  0
9x1 =  9
9x2 =  18
9x3 =  27
9x4 =  36
9x5 =  45
9x6 =  54
9x7 =  63
9x8 =  72
9x9 =  81
9x10 =  90

In [1]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
fruit_tuple_0 = (fruits[0], quantities[0], prices[0])
output.append(output)
fruit_tuple_1 = (fruits[1], quantities[1], prices[1])
output.append(output)
fruit_tuple_2 = (fruits[2], quantities[2], prices[2])
output.append(output)
print(fruit_tuple_0, fruit_tuple_1, fruit_tuple_2)

('Apples', 5, 1.5) ('Oranges', 3, 2.25) ('Bananas', 4, 0.89)

In [3]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [2]:
def my_function(width, height) :
    area = width * height
    print(area)

my_function(3, 4)

12

In [3]:
def my_function(width, height) :
    area = width * height
    return area

print(my_function(3, 4))

12